@font-face{
    font-family: 'Silkscreen';
    src: url('assets/fonts/silkscreen_normal/slkscr-webfont.eot');
    src: url('assets/fonts/silkscreen_normal/slkscr-webfont.eot?iefix') format('eot'),
         url('assets/fonts/silkscreen_normal/slkscr-webfont.woff') format('woff'),
         url('assets/fonts/silkscreen_normal/slkscr-webfont.ttf') format('truetype'),
         url('assets/fonts/silkscreen_normal/slkscr-webfont.svg#webfont') format('svg');
}

body {
    background  : black;
    color       : white;
    font-family : Silkscreen, monospace;
    padding     : 0;
    margin      : 0;
    overflow    : hidden;
    height      : 100%;
}
canvas {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    z-index   : 100;
    transform : translate(-50%, -50%);

    box-shadow:
        0 0 2px 0px  black,
        0 0 1px 20px rgba(255, 255, 255, 0.3),
        0 0 1px 24px black,
        0 0 1px 36px rgba(255, 255, 255, 0.25),
        0 0 1px 40px black,
        0 0 1px 46px rgba(255, 255, 255, 0.2),
        0 0 1px 50px black,
        0 0 1px 54px rgba(255, 255, 255, 0.15),
        0 0 1px 58px black,
        0 0 1px 60px rgba(255, 255, 255, 0.1),
        0 0 1px 64px black,
        0 0 1px 65px rgba(255, 255, 255, 0.05);
}

#game-container {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    width     : 900px;
    height    : 900px;
}

.player-status {
    position : absolute;
    width    : 600px;
    z-index  : 200;
}
.player-status > * {
    width    : 80px;
    height   : 80px;
    position : relative;
}

.player-status .press-start {
    font-size   : 1.4em;
}

.player-status .score::before,
.player-status .lives::before,
.player-status .powerup::before {
    position   : absolute;
    width      : 100%;
    text-align : center;
    top        : -2.0rem;
    right      : 0;
    font-size  : 1.4rem;
    opacity    : 0.6;
}
.player-status .score::before   { content: 'SCORE'; }
.player-status .lives::before   { content: 'LIVES'; }
.player-status .powerup::before { content: 'POWER'; }

/* hide press-start while playing and while logging in */
.player-status.playing .press-start,
.player-status.logging_in .press-start {
    display : none !important;
}

/* show score, powerup, and lives while playing */
.player-status.playing .score,
.player-status.playing .powerup,
.player-status.playing .lives {
    display : block !important;
}

.player-status .powerup span:first-child {
    border: 1px solid purple;
}
.player-status .powerup span {
    display: block;
    font-size: 1.6rem;
    line-height: 1;
}

.player-status .score,
.player-status .lives,
.player-status .powerup {
    font-size   : 2.9em;
    text-align  : center;
    line-height : 80px;
    display     : none !important; /* display is block when .player-status.playing */
}
/* horizonal scorecards */
#player-n-status,
#player-s-status {
    /* self positioning */
    height    : 80px;
    width     : 600px;
    left      : 50%;
    transform : translateX(-50%);

    /* child positioning */
    text-align: center;
}
/* veritcal scorecards */
#player-e-status,
#player-w-status {
    /* self positioning */
    width     : 80px;
    top       : 50%;
    transform : translateY(-50%);

    /* child positioning */
    vertical-align : middle;
    display        : table-cell;
}
#player-n-status > *,
#player-s-status > * {
    display : inline-block;
    margin  : 0;
    padding : 0;
}
#player-e-status > *,
#player-w-status > * {
    float : left;
}

#player-n-status { top    : 20px; } /* move the top one down a bit */
#player-s-status { bottom : 0; }
#player-e-status { right  : 0; }
#player-w-status { left   : 0; }

#player-n-status { color: #5D9BFE; text-shadow: 0 0 3px #5D9BFE; }
#player-s-status { color: #26BF4A; text-shadow: 0 0 3px #26BF4A; }
#player-e-status { color: #E7E746; text-shadow: 0 0 3px #E7E746; }
#player-w-status { color: #F72C2C; text-shadow: 0 0 3px #F72C2C; }

.hide {
    display: none !important;
}

.gamepad-button {
    background-color : lightgrey;
    border-radius    : 50%;
    color            : black;
    height           : 18px;
    width            : 18px;
    vertical-align   : middle;
    text-align       : center;
    display          : inline-block;
}

/* From:
 * http://stackoverflow.com/questions/23985018/simple-css-animation-loop-fading-in-out-loading-text
 */
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation : flickerAnimation 2.71828s infinite;
      -moz-animation : flickerAnimation 2.71828s infinite;
        -o-animation : flickerAnimation 2.71828s infinite;
           animation : flickerAnimation 2.71828s infinite;
}

.player-login {
    position : absolute;
    width    : 250px;
    height   : 280px;
    display  : none;
}
.player-login.active {
    position : absolute;
    display  : block;
}
.player-login ol    { list-style: none; padding: 0; }
.player-login ol li { padding: 2px 6px; margin-left: -2px; }

#player-n-login { color : #5D9BFE; top    : 150px; right  : -200px; }
#player-s-login { color : #26BF4A; bottom : 150px; left   : -200px; }
#player-e-login { color : #E7E746; bottom : 150px; right  : -200px; }
#player-w-login { color : #F72C2C; top    : 150px; left   : -200px; }

#player-n-login ol li.highlighted { box-shadow: 0 0 4px 1px #5D9BFE; color: black; background-color: #5D9BFE;}
#player-s-login ol li.highlighted { box-shadow: 0 0 4px 1px #26BF4A; color: black; background-color: #26BF4A;}
#player-e-login ol li.highlighted { box-shadow: 0 0 4px 1px #E7E746; color: black; background-color: #E7E746;}
#player-w-login ol li.highlighted { box-shadow: 0 0 4px 1px #F72C2C; color: black; background-color: #F72C2C;}

#pause-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    padding: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

#help {
    position : absolute;
    bottom   : 0;
    left     : 0;
    padding  : 10px;
}
#help ul {
    list-style: none;
}
