@font-face{
    font-family: 'Silkscreen';
    src: url('assets/fonts/silkscreen_normal/slkscr-webfont.eot');
    src: url('assets/fonts/silkscreen_normal/slkscr-webfont.eot?iefix') format('eot'),
         url('assets/fonts/silkscreen_normal/slkscr-webfont.woff') format('woff'),
         url('assets/fonts/silkscreen_normal/slkscr-webfont.ttf') format('truetype'),
         url('assets/fonts/silkscreen_normal/slkscr-webfont.svg#webfont') format('svg');
}

body {
    background  : black;
    color       : white;
    font-family : Silkscreen, monospace;
    padding     : 0;
    margin      : 0;
    overflow    : hidden;
    height      : 100%;
}
canvas {
    /* border       : 5000px solid rgb(64, 64, 64); */
    position     : absolute;
    top          : 50%;
    left         : 50%;
    z-index      : 100;
    transform    : translate(-50%, -50%);
    /* border-color : */
    /*     rgba(91, 148, 255, 0.4) */
    /*     rgba(238, 243, 49, 0.4) */
    /*     rgba(40, 197, 67, 0.4) */
    /*     rgba(247, 10, 34, 0.4); */

    box-shadow:
        0 0 2px 0px  black,
        0 0 1px 20px rgba(255, 255, 255, 0.3),
        0 0 1px 24px black,
        0 0 1px 36px rgba(255, 255, 255, 0.25),
        0 0 1px 40px black,
        0 0 1px 46px rgba(255, 255, 255, 0.2),
        0 0 1px 50px black,
        0 0 1px 54px rgba(255, 255, 255, 0.15),
        0 0 1px 58px black,
        0 0 1px 60px rgba(255, 255, 255, 0.1),
        0 0 1px 64px black,
        0 0 1px 65px rgba(255, 255, 255, 0.05);
}

#game-container {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    width     : 900px;
    height    : 900px;
}

.player-status {
    position : absolute;
    width    : 600px;
    z-index  : 200;
}
.player-status > * {
    width    : 80px;
    height   : 80px;
    position : relative;
}

.player-status .press-start {
    font-size   : 1.4em;
}

.player-status .score::before,
.player-status .lives::before,
.player-status .powerup::before {
    position   : absolute;
    width      : 100%;
    text-align : center;
    top        : -2.0rem;
    right      : 0;
    font-size  : 1.4rem;
    opacity    : 0.6;
}
.player-status .score::before   { content: 'SCORE'; }
.player-status .lives::before   { content: 'LIVES'; }
.player-status .powerup::before { content: 'SLAMS'; }

.player-status.playing .score,
.player-status.playing .lives {
    display : block;
}

.player-status .score,
.player-status .lives,
.player-status .powerup {
    font-size   : 2.9em;
    text-align  : center;
    line-height : 80px;
}
/* horizonal scorecards */
#player-n-status,
#player-s-status {
    /* self positioning */
    height    : 80px;
    width     : 600px;
    left      : 50%;
    transform : translateX(-50%);

    /* child positioning */
    text-align: center;
}
/* veritcal scorecards */
#player-e-status,
#player-w-status {
    /* self positioning */
    width     : 80px;
    top       : 50%;
    transform : translateY(-50%);

    /* child positioning */
    vertical-align : middle;
    display        : table-cell;
}
#player-n-status > *,
#player-s-status > * {
    display : inline-block;
    margin  : 0;
    padding : 0;
}
#player-e-status > *,
#player-w-status > * {
    float : left;
}

#player-n-status { top    : 20px; } /* move the top one down a bit */
#player-s-status { bottom : 0; }
#player-e-status { right  : 0; }
#player-w-status { left   : 0; }

#player-n-status { color: #5D9BFE; text-shadow: 0 0 3px #5D9BFE; }
#player-s-status { color: #26BF4A; text-shadow: 0 0 3px #26BF4A; }
#player-e-status { color: #E7E746; text-shadow: 0 0 3px #E7E746; }
#player-w-status { color: #F72C2C; text-shadow: 0 0 3px #F72C2C; }

.hide {
    display: none !important;
}

/* From:
 * http://stackoverflow.com/questions/23985018/simple-css-animation-loop-fading-in-out-loading-text
 */
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation : flickerAnimation 2.71828s infinite;
      -moz-animation : flickerAnimation 2.71828s infinite;
        -o-animation : flickerAnimation 2.71828s infinite;
           animation : flickerAnimation 2.71828s infinite;
}
