body {
    background  : black;
    color       : white;
    font-family : monospace;
    padding     : 0;
    margin      : 0;
    overflow    : hidden;
    height      : 100%;
}
canvas {
    border       : 5000px solid rgb(64, 64, 64);
    position     : absolute;
    top          : 50%;
    left         : 50%;
    z-index      : 100;
    transform    : translate(-50%, -50%);
    border-color :
        rgba(91, 148, 255, 0.4)
        rgba(238, 243, 49, 0.4)
        rgba(40, 197, 67, 0.4)
        rgba(247, 10, 34, 0.4);
}

.player-status {
    border   : 1px dashed white;
    position : absolute;
    width    : 600px;
    z-index  : 200;
}
#player-n-status {
    top       : 0;
    height    : 40px;
    width     : 600px;
    left      : 50%;
    transform : translateX(-50%);
}
#player-s-status {
    bottom    : 0;
    height    : 40px;
    width     : 600px;
    left      : 50%;
    transform : translateX(-50%);
}
#player-e-status {
    right     : 0;
    width     : 40px;
    height    : 600px;
    top       : 50%;
    transform : translateY(-50%);
}
#player-w-status {
    left      : 0;
    width     : 40px;
    height    : 600px;
    top       : 50%;
    transform : translateY(-50%);
}

.hide {
    visibility: hidden;
}
